
.admin-dashboard {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f4f4f4;
}

.admin-dashboard h1{
  color: black;
    text-align: center;
    font-weight: bolder;
    margin: 20px;
}


.dashboard-options {
  margin-bottom: 20px;
}


.toggle-form-button, .submit-button {
  background-color: #007bff; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.toggle-form-button:hover, .submit-button:hover {
  background-color: #0056b3; 
}

.close-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.close-button:hover {
  background-color: #c82333;
}

/* User Form */
.user-form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto; 
  max-width: 500px; 
}

.user-form input, .user-form select {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}


.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-table th, .user-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.user-table th {
  background-color: #ffecb3;
  color: black;
}

.user-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.user-table tr:hover {
  background-color: #f1f1f1;
}

.user-table .edit-button, .user-table .delete-button {
  background-color: #007bff; 
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.user-table .edit-button:hover {
  background-color: #0056b3;
}

.user-table .delete-button {
  background-color: #dc3545;
}

.user-table .delete-button:hover {
  background-color: #c82333;
}
.add-button{
  margin-bottom: 10px;
  background-color: #ffd700;
  color: black;
  
}
.users{
  color: black;
  font-size: 20px;
}