/* EmployeeDashboard Styles */
.employee{
    background-color: #f4f4f4;
    height: 100%;
    width: 100vw;
}
.employee h1{
    color: black;
    text-align: center;
    font-weight: bolder;
    margin: 20px;


}
.employee-dashboard {
    font-family: Arial, sans-serif;
    padding: 20px;
}


.create-request-button {
    background-color: #ffd700;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
    
}

.create-request-button:hover {
    background-color: #ffecb3
}

.travel-request-form-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
   
}

.travel-request-form {
    display: flex;
    flex-direction: column;
    
}

.travel-request-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.travel-request-form label {
    margin-bottom: 10px;
    font-weight: bold;
}

.travel-request-form input,
.travel-request-form select,
.travel-request-form textarea {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.travel-request-form button {
    background-color: #28a745;
    color: white;
    border: none;
    
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.travel-request-form button:hover {
    background-color: #218838;
}

.travel-request-history {
    margin-top: 20px;
    height: 100vh;
}

.travel-request-history h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    color: black;
    font-weight: bolder;
}

.travel-request-history ul {
    list-style-type: none;
    padding: 0;
}

.travel-request-history li {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
}

.travel-request-history li strong {
    display: block;
    font-weight: bold;
}

@media (max-width: 768px) {
    .travel-request-form-container {
        padding: 15px;
    }

    .travel-request-form button {
        font-size: 14px;
        padding: 8px 16px;
    }

    .create-request-button {
        font-size: 14px;
        padding: 8px 16px;
    }
}
